<div class="container-fluid service py-6">
  <div class="container">
    <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
      <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Services</small>
      <h1 class="display-5 mb-5">What We Offer</h1>
    </div>
  <div style="align-content: center">
    <div class="text-center wow bounceInUp mb-5" data-wow-delay="0.1s">
      <form class="d-inline-flex justify-content-center" (keyup.enter)="searchRecetteByVille()">
        <div class="nav nav-pills" id="pills-tab" role="tablist">
          <div class="input-group">
            <p class="text-muted" style="margin-right: 100px; float: right">Consulter les recettes préférées par ville</p>
            <input type="text" class="form-control" style="width: 400px;" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" [(ngModel)]="nomVille" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append" style="align-items: center;margin-left: 50px">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchRecetteByVille()">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6" *ngFor="let recette of recettes">
        <div class="bg-light rounded service-item">
          <div class="service-content d-flex align-items-center justify-content-center p-4">
            <div class="service-content-icon text-center">
              <i class="fas fa-cheese fa-7x text-primary mb-4"></i>
              <h4 class="mb-3">{{recette.nom}}</h4>
              <p class="mb-4">{{recette.description}}.</p>
              <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Service End -->
          <!-- Book Us Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-0">
      <div class="col-1">
        <img src="assets/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
      </div>
      <div class="col-10">
        <div class="border-bottom border-top border-primary bg-light py-5 px-4">
          <div class="text-center">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Book Us</small>
            <h1 class="display-5 mb-5">Where you want Our Services</h1>
          </div>
          <div class="row g-4 form">
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>Select Country</option>
                <option value="1">USA</option>
                <option value="2">UK</option>
                <option value="3">India</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>Select City</option>
                <option value="1">Depend On Country</option>
                <option value="2">UK</option>
                <option value="3">India</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>Select Palace</option>
                <option value="1">Depend On Country</option>
                <option value="2">UK</option>
                <option value="3">India</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>Small Event</option>
                <option value="1">Event Type</option>
                <option value="2">Big Event</option>
                <option value="3">Small Event</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>No. Of Palace</option>
                <option value="1">100-200</option>
                <option value="2">300-400</option>
                <option value="3">500-600</option>
                <option value="4">700-800</option>
                <option value="5">900-1000</option>
                <option value="6">1000+</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <select class="form-select border-primary p-2" aria-label="Default select example">
                <option selected>Vegetarian</option>
                <option value="1">Vegetarian</option>
                <option value="2">Non Vegetarian</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="mobile" class="form-control border-primary p-2" placeholder="Your Contact No.">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="date" class="form-control border-primary p-2" placeholder="Select Date">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="email" class="form-control border-primary p-2" placeholder="Enter Your Email">
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary px-5 py-3 rounded-pill">Submit Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <img src="assets/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Book Us End -->

